html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background: linear-gradient(to bottom, #abdba7, #92c3661f);
  overflow: visible;
}

/* top-menu section */
.topMenu-container {
  align-items: center;
  padding: 30px 50px;
  height: 100vh;
  width: 100%;
}

.topheader-text {
  margin-bottom: 100px;
}

.topHeading {
  font-size: 2.5rem;
  margin: 0;
  color: #5b7947;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  color: #6d8a59;
  margin: 5px 0 0;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.topCard {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 250px;
  height: 310px;
  position: relative;
  padding-top: 100px;
  overflow: visible;
  transition: transform 0.2s ease;
  margin-top: 30px;
  margin-bottom: 100px;
}

.topCard:hover {
  transform: scale(1.05);
}

.topCard img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.rating {
  font-size: 1.2rem;
  color: #f5a623;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #5b7947;
  text-align: center;
}

.description2 {
  font-size: 0.85rem;
  margin-bottom: 10px;
  color: #6d8a59;
  font-weight: 500;
  text-align: center;
}

/* responsive for topMenu section */
@media (max-width: 900px) {
  .topMenu-container {
    padding: 20px;
    height: auto;
    margin-bottom: 2px;
  }

  .topheader-text {
    margin-bottom: 50px;
    margin-top: -80px;
  }

  .topHeading {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .card {
    width: 230px;
    height: 350px;
    padding-top: 90px;
    margin-bottom: 60px;
  }

  .card img {
    width: 160px;
    height: 160px;
    top: -60px;
  }

  .rating {
    font-size: 1rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .description2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .topMenu-container {
    padding: 20px 15px;
  }

  .topHeading {
    font-size: 1.7rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }

  .card {
    width: 40%;
    height: auto;
    padding-top: 80px;
  }

  .card img {
    width: 140px;
    height: 140px;
    top: -50px;
  }

  .rating {
    font-size: 0.95rem;
  }

  .title {
    font-size: 1rem;
  }

  .description2 {
    font-size: 0.8rem;
  }

  .add-to-cart {
    padding: 8px 12px;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .topMenu-container {
    padding: 20px 15px;
  }

  .topHeading {
    font-size: 1.7rem;
    margin-top: 100px;
  }

  .subtitle {
    font-size: 0.95rem;
  }

  .card {
    width: 70%;
    height: auto;
    padding-top: 80px;
  }

  .card img {
    width: 140px;
    height: 140px;
    top: -50px;
  }

  .rating {
    font-size: 0.95rem;
  }

  .title {
    font-size: 1rem;
  }

  .description2 {
    font-size: 0.8rem;
  }

  .add-to-cart {
    padding: 8px 12px;
    font-size: 0.85rem;
  }
}
